{%load staticfiles%}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{%static 'styles/bootstrap/dist/css/bootstrap.min.css'%}" rel="stylesheet" media="screen"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"/>
<link href="{%static 'styles/styles.css'%}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-default" id='nav'>
<!-- outer container -->
<div class="container-fluid">

<div class="navbar-header">
<a href="#" class="navbar-brand navtext-color">Book Store</a>
</div>

<!-- list on nav -->
<form class="navbar-form navbar-left" role="search">
<div class="form-group">
<input type="text" class="form-control" placeholder="Search for Books"/>
</div>
<button type="submit" class="btn btn-default navtext-color">Search</button>
</form>

<ul class="nav navbar-nav navbar-right">
<li><a href="#" class="navtext-color">Sign in</a></li>
<li><a href="#" class="navtext-color">Order Status</a></li>
<li><a href="#" class="navtext-color">Wish List</a></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
Come to Us <span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a href="#">Contact Us</a></li>
<li class="divider" role="separator"></li>
<li><a href="#">Help</a></li>
</ul>
</li>
</ul>
</div>
<!-- close outer container -->
<div class="row">
<div class="col-md-12 head-nav">
<ul class="nav navbar-nav navbar-left">
<li><a href="#" class="navtext-color">Bestsellers</a></li>
<li><a href="#" class="navtext-color">Coming Soon</a></li>
<li><a href="#" class="navtext-color">Highlights</a></li>
<li><a href="#" class="navtext-color">Bargain Shop</a></li>
</ul>
 
<form class="navbar-form navbar-right">
<select name="selectCurrency" id="selectCurrency" onchange="this.form.submit()">
			<option value="AUD"   >
					$&nbsp;Australian Dollar</option>
			<option value="EUR"   >
					€&nbsp;Euro</option>
			<option value="USD"  selected='selected' >
					$&nbsp;US Dollar</option>
			<option value="GBP"   >
					£&nbsp;British Pound</option>
			<option value="NZD"   >
					$&nbsp;New Zealand Dollar</option>
			<option value="SGD"   >
					$&nbsp;Singapore Dollar</option>
			<option value="HKD"   >
					$&nbsp;Hong Kong Dollar</option>
			<option value="CAD"   >
					$&nbsp;Canadian Dollar</option>
			<option value="CZK"   >
					Kč&nbsp;Czech Koruna</option>
			<option value="ILS"   >
					₪&nbsp;Israeli Shekel</option>
			<option value="JPY"   >
					￥&nbsp;Japanese Yen</option>
			<option value="NOK"   >
					Kr&nbsp;Norwegian Krone</option>
			<option value="PLN"   >
					zł&nbsp;Polish Zloty</option>
			<option value="SEK"   >
					Kr&nbsp;Swedish Krona</option>
			<option value="CHF"   >
					CHF&nbsp;Swiss Franc</option>
			<option value="THB"   >
					฿&nbsp;Thai Baht</option>
			<option value="DKK"   >
					Kr&nbsp;Danish Krone</option>
			<option value="HUF"   >
					Ft&nbsp;Hungarian Forint</option>
			<option value="TWD"   >
					$&nbsp;Taiwan New Dollar</option>
			<option value="ZAR"   >
					R&nbsp;South African Rand</option>
			<option value="MXN"   >
					$&nbsp;Mexican Peso</option>
			<option value="ARS"   >
					$&nbsp;Argentine Peso</option>
			<option value="CLP"   >
					$&nbsp;Chilean Peso</option>
			<option value="MYR"   >
					RM&nbsp;Malaysian Ringgit</option>
			<option value="KRW"   >
					￦&nbsp;South Korean Won</option>
			<option value="IDR"   >
					Rp&nbsp;Indonesian Rupiah</option>
			</select>
</form>
<ul class="nav navbar-nav navbar-right">
<li><a href="#" class="navtext-color">US$0.00</a></li>
<li><a href="#" class=""><span class="item-count navtext-color"> 0 </span><span class="navtext-color">Item</span><span class="glyphicon glyphicon-shopping-cart"></span></a>
</ul>
</div>
</div>
</nav>

<div class="container content-wrap">
<div class="row">
<div class="col-md-3">
<div>
<ul class="category-list list-group">
<li class="list-group-item" >
<a href="#">Art and Photography</a>
</li>
<li class="list-group-item">
<a href="audiobooks">Audio Books</a>
</li>

<li class="list-group-item">
<a href="biography">Biography</a>
</li>

<li class="list-group-item">
<a href="business-and-finance-law">Business and Finance Law</a>
</li>

<li class="list-group-item">
<a href="childrens-book">Childrens' Book</a>
</li>
<li class="list-group-item">
<a href="computing">Computing</a>
</li>
<li class="list-group-item">
<a  href="craft-hobbies">Craft and Hobbies</a>
</li>
<li class="list-group-item">
<a href="crime-thriller">Crime and Thriller</a>
</li>
<li class="list-group-item">
<a href="#">Dictionaries and Languages</a>
</li>
<li class="list-group-item">
<a href="#">Entertainment</a>
</li>
<li class="list-group-item">
<a href="fiction">Fiction</a>
</li>
<li class="list-group-item">
<a href="food-drink">Food and Drink</a>
</li>
<li class="list-group-item">
<a href="graphic-novel-anime-manga">Graphics Novel, Anime and Manga</a>
</li>
<li class="list-group-item">
<a href="health">Health</a>
</li>
<li class="list-group-item">
<a href="history-archaeology">History and Archaeology</a>
</li>
<li class="list-group-item">
<a href="home-garden">Home and Garden</a>
</li>
<li class="list-group-item">
<a href="#">Humor</a>
</li>
<li class="list-group-item">
<a href="#">Medical</a>
</li>
<li class="list-group-item">
<a href="#">Mind Body and Spirit</a>
</li>
<li class="list-group-item">
<a href="natural-history">Natural History</a>
</li>
<li class="list-group-item">
<a href="#">Personal Development</a>
</li>
<li class="list-group-item">
<a href="#">Poetry and Drama</a>
</li>
<li class="list-group-item">
<a href="reference">Reference</a>
</li>
<li class="list-group-item">
<a href="#">Religion</a>
</li>
<li class="list-group-item">
<a href="#"> Romance</a>
</li>
<li class="list-group-item">
<a href="#">Science and Geography</a>
</li>
<li class="list-group-item">
<a href="#">Science Fiction Fantasy and Horror</a>
</li>
<li class="list-group-item">
<a href="#">Society and Social Sciences</a>
</li>
<li class="list-group-item">
<a href="#">Sport</a>
</li>
<li class="list-group-item">
<a href="#">Stationery</a>
</li>

</ul>
</div>
<div class="newsletter">
<form action="newletterform" role="form">
<div class="form-group">
<input type="text" name="newsletterEmail" placeholder="Email Address" class="form-control">
<div class="newsletter-but pull-right">
<button class="btn btn-danger btn-sm">Sign me up for newsletter</button>
</div>
</div>
</form>
</div>

<div class="social-wrap">
<div class="">
<p>Follow us</p>
<ul class="list-group list-inline">

<li title="follow us on facebook"><a href="#"><i class="list-group-item fa fa-facebook-square fa-2x fb-icon" aria-hidden="true"></i></a></li>
<li title="follow us on twitter"><a href="#"><i class="list-group-item fa fa-twitter-square fa-2x tw-icon" aria-hidden="true"></i></a></li>
<li title="follow us on google+"><a href="#"><i class="list-group-item fa fa-google-plus-square fa-2x gp-icon" aria-hidden="true"></i></a></li>
<li title="follow us on pinterest"><a href="#"><i class="list-group-item fa fa-pinterest fa-2x pi-icon"></i></a></li>
</ul>

</div>
</div>
</div>

<!-- extending templates here -->
<div class="col-md-9">
<div>
{%block content%}

{% endblock %}
</div>
</div>
<!-- close div for extending template -->
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="{%static 'styles/bootstrap/dist/js/bootstrap.min.js'%}"></script>
<script type="text/javascript" src="{% static 'script/script.js' %}"></script>
</body>
</html>