<html>
<head>
<title>Bookstore</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
<div class="header-wrap">
<header class="">
<!-- nav bar begins -->

<nav class="nav nav-dark big-primary">
<div>
<ul  class="nav navbar-nav pull-left">
<li class="nav-item"><a href="#" ><i class="home-icon"></i></a></li>
<li class="nav-item"><a href="#">Contact Us</a></li>
<li class="nav-item"><a href="#">Help</a></li>
</ul>

<ul class="nav navbar-nav pull-right">
<li class="nav-item"><a href="#">Order Status</a></li>
<li class="nav-item"><a href="#">Wish List</a></li>
<li class="nav-item"><a href="#">Join Us</a></li>
</ul>
 </div>
 
 <div class="primary-wrap">
 <button class="mobile-trigger"><i class="icon-menu"></i></button>
 
 <div class="brand-wrap">
 <h1>
 <a class="brand-link">
 <img src="" alt="Bookseller.com" />
 </a>
 </h1>
 </div>
 
 <div class="mobile-basket-wrap basket">
 <div class="free-delivery">
 <img src="free delivery" alt="Free Delivery" />
 </div>
 <a href="item-count" class="mobile-basket-wrap">
 <span class="item-count">0</span><i class="icon-cart"/>
 </a>
 </div>
 <div class="search-wrap">
 <form class="book-search-form" action="search_form">
 <div>
 <input type="text" placeholder="Search Books by keyword author/title/ ISBN" name="searchTerm" class="text-input" value="">
 <button class="header-btn-search" type="submit" ><span class="text">Search</span></button>
 
 </div>
 </form>
 <div class="free-delivery-wrap">
 <a href="whereto deliver to worldwide>
 <img src="freeworldwide delivery" alt="where to deliver worldwide"/>
 </a>
 </div>
 </div>
 </div>
 </nav>
</header>
</div>

<div class="secondary-header-wrap>
<div class="secondary-header>
<div classs="secondary-header-content>
<ul class="" data-order="2">
<li><a href="browse by category">Browse by Category</a></li>
<li><a href="coming soon">Coming Soon</a></li>
<li><a href="highlights">Highlights</a></li>
<li><a href="bargain">Bargain</a></li>
</ul>
<div class="right-section">
<div class="currency-selector-wrap>
<form method="post" action="">
<div class="currency-selector" title="US-Dollar">
<select name="selectCurrency" id="selectCurrency" onchange="this.form.submit()">
			<option value="AUD"   >
					$&nbsp;Australian Dollar</option>
			<option value="EUR"   >
					€&nbsp;Euro</option>
			<option value="USD"  selected='selected' >
					$&nbsp;US Dollar</option>
			<option value="GBP"   >
					£&nbsp;British Pound</option>
			<option value="NZD"   >
					$&nbsp;New Zealand Dollar</option>
			<option value="SGD"   >
					$&nbsp;Singapore Dollar</option>
			<option value="HKD"   >
					$&nbsp;Hong Kong Dollar</option>
			<option value="CAD"   >
					$&nbsp;Canadian Dollar</option>
			<option value="CZK"   >
					Kč&nbsp;Czech Koruna</option>
			<option value="ILS"   >
					₪&nbsp;Israeli Shekel</option>
			<option value="JPY"   >
					￥&nbsp;Japanese Yen</option>
			<option value="NOK"   >
					Kr&nbsp;Norwegian Krone</option>
			<option value="PLN"   >
					zł&nbsp;Polish Zloty</option>
			<option value="SEK"   >
					Kr&nbsp;Swedish Krona</option>
			<option value="CHF"   >
					CHF&nbsp;Swiss Franc</option>
			<option value="THB"   >
					฿&nbsp;Thai Baht</option>
			<option value="DKK"   >
					Kr&nbsp;Danish Krone</option>
			<option value="HUF"   >
					Ft&nbsp;Hungarian Forint</option>
			<option value="TWD"   >
					$&nbsp;Taiwan New Dollar</option>
			<option value="ZAR"   >
					R&nbsp;South African Rand</option>
			<option value="MXN"   >
					$&nbsp;Mexican Peso</option>
			<option value="ARS"   >
					$&nbsp;Argentine Peso</option>
			<option value="CLP"   >
					$&nbsp;Chilean Peso</option>
			<option value="MYR"   >
					RM&nbsp;Malaysian Ringgit</option>
			<option value="KRW"   >
					￦&nbsp;South Korean Won</option>
			<option value="IDR"   >
					Rp&nbsp;Indonesian Rupiah</option>
			</select>
</div>
</form>

<div class="basket-wrap">
<span class="total">$0.00</span>
<a href="basket" class="basket-btn"><span class="item-count">0</span><span class="item-text">Items</span>
<i class="icon-cart"></i></a>

</div>
</div>
</div>
</div>
</div>

<div class="content-wrap">
<div class="row side-bar">
<div class="col-md-3">
<div>
<ul class="category-list list-group">
<li class="list-group-item" >
<a href="artandphotography">Art and Photography</a>
</li>
<li class="list-group-item">
<a href="audiobooks">Audio Books</a>
</li>

<li class="list-group-item">
<a href="biography">Biography</a>
</li>

<li class="list-group-item">
<a href="business-and-finance-law">Business and Finance Law</a>
</li>

<li class="list-group-item">
<a href="childrens-book">Childrens' Book</a>
</li>
<li class="list-group-item">
<a href="computing">Computing</a>
</li>
<li class="list-group-item">
<a  href="craft-hobbies">Craft and Hobbies</a>
</li>
<li class="list-group-item">
<a href="crime-thriller">Crime and Thriller</a>
</li>
<li class="list-group-item">
<a href="dictionaries-languages>Dictionaries and Languages</a>
</li>
<li class="list-group-item">
<a href="entertainment">Entertainment</a>
</li>
<li class="list-group-item">
<a href="fiction">Fiction</a>
</li>
<li class="list-group-item">
<a href="food-drink">Food and Drink</a>
</li>
<li class="list-group-item">
<a href="graphic-novel-anime-manga">Graphics Novel, Anime and Manga</a>
</li>
<li class="list-group-item">
<a href="health">Health</a>
</li>
<li class="list-group-item">
<a href="history-archaeology">History and Achaeology</a>
</li>
<li class="list-group-item">
<a href="home-garden">Home and Garden</a>
</li>
<li class="list-group-item">
<a href="humor">Humor</a>
</li>
<li class="list-group-item">
<a href="medical>Medical</a>
</li>
<li class="list-group-item">
<a href="mind-body-spirit>Mind, Body and Spirit</a>
</li>
<li class="list-group-item">
<a href="natural-history">Natural History</a>
</li>
<li class="list-group-item">
<a href="personal-development">Personal Development</a>
</li>
<li class="list-group-item">
<a href="poetry-drama>Poetry and Drama</a>
</li>
<li class="list-group-item">
<a href="reference">Reference</a>
</li>
<li class="list-group-item">
<a href="religion">Religion</a>
</li>
<li class="list-group-item">
<a href="romance"> Romance</a>
</li>
<li class="list-group-item">
<a href="sicence-geography">Science and Geography</a>
</li>
<li class="list-group-item">
<a href="#">science-fiction-fantasy-horror>Science, Fiction, Fantasy and Horror</a>
</li>
<li class="list-group-item">
<a href="#">society-social-science>Society and Social Sciences</a>
</li>
<li class="list-group-item">
<a href="#">Sport</a>
</li>
<li class="list-group-item">
<a href="#">Stationery</a>
</li>

</ul>
</div>
<div class="">
<form action="newletterform">
<div class="form-group">
<input type="text" name="newsletterEmail" placeholder="Email Address" class="form-control">
<div class="form-group clear-fix">
<button class="btn btn-primary btn-sm pull-right">Sign me up for newsletter</button>
</div>
</div>
</form>
</div>

<div class="sidebar-section social-section">
<div class="side-bar-section-content">
<ul class="social-wrap">
<li class="purple-text bold">
Follow us
</li>
<li><a href="#"><i class="icon-fb"></i></a></li>
<li><a href="#"><i class="icon-tw"></i></a></li>
<li><a href="#"><i class="icon-pi"></i></a></li>
<li><a href="#"><i class="icon-pi"></i></a></li>
</ul>
</div>
</div>

</div>
<!-- main content right -->
<div class="col-md-9">
<!-- content div -->
<div>
{%for book in books %}
<p>{{book.title}}
{% load static %}
 <p><img src="{% static "book.jpg" %}" alt="My image"/>
{% endfor %}
</div>
</div>
</div>
</div>


</body>
</html>
